.office {
  min-width: 172px;

  @media (max-width: $tablet-only-width) {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    min-width: 0;
  }

  @media (max-width: $mobile-only-width) {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 30px;
    width: 100%;
  }
}

.office h2 {
  @include title-style-reset;

  margin-bottom: 26px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark-text-color;

  @media (max-width: $mobile-only-width) {
    margin-bottom: 0;
  }
}

.office button {
  @include button-style-reset;

  display: none;

  @media (max-width: $mobile-only-width) {
    position: absolute;
    right: 0;
    top: 0;

    padding-top: 28px;
    padding-bottom: 29px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    width: 100%;
    height: 74px;
    box-sizing: border-box;

    color: $dark-icon-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.office--nojs button {
  display: none;
}

.office svg {
  margin-left: auto;

  &:first-child {
    display: block;
  }

  &:last-child {
    display: none;
  }
}

.office--opened svg {
  &:first-child {
    display: none;
  }

  &:last-child {
    display: block;
  }
}

.office p {
  @include paragraph-style-reset;

  font-size: 15px;
  line-height: 25px;
  color: rgba($dark-text-color, 0.5);

  @media (max-width: $mobile-only-width) {
    margin-top: 26px;
    display: none;
  }
}

.office--opened p {
  display: block;
}

.office ul {
  @include list-style-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.office--opened ul {
  display: flex;
}

.office a {
  @include link-style-reset;

  font-size: 15px;
  line-height: 25px;
  color: rgba($dark-text-color, 0.5);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
