.page-header {
  position: relative;

  padding-top: 33px;
  padding-bottom: 33px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;

    background-color: $dark-background-color;
  }

  @media (max-width: $tablet-only-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-only-width) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.page-header__wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  box-sizing: border-box;

  @media (max-width: $tablet-only-width) {
    margin-right: 0;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 10px;
    max-width: none;
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 15px;
    padding-right: 4px;
  }
}

.page-header a {
  @include link-style-reset;

  margin-right: 20px;
  margin-left: 22px;
  min-width: 180px;

  line-height: 18px;
  color: $light-text-color;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &:first-of-type {
    margin-right: auto;
    margin-left: 0;
  }

  @media (max-width: $tablet-only-width) {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 0;
  }

  @media (max-width: $mobile-only-width) {
    margin-right: 11px;
    margin-left: 11px;
  }
}

.page-header__modal-link {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  width: 180px;
  box-sizing: border-box;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: 1px solid $light-border-color;
  border-radius: 5px;

  @media (max-width: $tablet-only-width) {
    display: none;
  }
}

.page-header span {
  @media (max-width: $tablet-only-width) {
    display: none;
  }
}

.page-header svg {
  margin-right: 12px;

  color: $accent-color;

  vertical-align: middle;

  @media (max-width: $tablet-only-width) {
    margin-right: 0;
    width: 26px;
    height: 24px;
  }
}

.page-header img {
  @media (max-width: $mobile-only-width) {
    width: 38px;
    height: 38px;
  }
}
