.page-body {
  display: grid;
  grid-template-rows: 1fr min-content;

  min-height: 100%;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Courier New", monospace;
  color: $basic-text-color;

  &--modal-opened {
    position: fixed;

    width: 100%;
  }
}

.page-body header {
  position: absolute;
  z-index: 1;

  width: 100%;

  &::before {
    display: none;
  }
}
