.services {
  padding-top: 90px;
  padding-bottom: 77px;

  background-color: $dark-background-color;

  @media (max-width: $tablet-only-width) {
    padding-top: 53px;
    padding-bottom: 78px;
  }

  @media (max-width: $mobile-only-width) {
    padding-bottom: 64px;
  }
}

.services__wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: $tablet-only-width) {
    margin-right: 0;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
    max-width: none;
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.services h2 {
  @include title-style-reset;

  margin-bottom: 50px;
  margin-left: 15px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  color: $light-text-color;

  @media (max-width: $tablet-only-width) {
    margin-left: 0;
    max-width: 620px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 36px;
    margin-left: 10px;

    font-size: 28px;
    line-height: 39px;
  }
}

.services ul {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-only-width) {
    display: block;
  }
}

.services__service {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
  width: 370px;

  @media (max-width: $tablet-only-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 46px;
    width: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.services__service a {
  @include link-style-reset;

  position: relative;

  padding-top: 53px;
  padding-left: 44px;
  display: block;
  width: 100%;
  height: 620px;
  box-sizing: border-box;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 0.2;

    background-image: url("../img/produce@1x.jpg");
    background-repeat: no-repeat;
    background-position: -340px;
    background-size: auto 700px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/produce@2x.jpg");
    }
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media (max-width: $tablet-only-width) {
    padding-top: 43px;
    width: 100%;
    height: 256px;

    &::before {
      background-position: center;
      background-size: 110%;
    }
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 35px;
    padding-top: 25px;

    &::before {
      background-size: cover;
    }
  }
}

.services__service:nth-child(2) a::before {
  background-image: url("../img/mounting@1x.jpg");
  background-position: -340px;
  background-size: auto 700px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mounting@2x.jpg");
  }

  @media (max-width: $tablet-only-width) {
    background-position: center;
    background-size: 260%;
  }

  @media (max-width: $mobile-only-width) {
    background-size: cover;
  }
}

.services__service:nth-child(3) a::before {
  background-image: url("../img/lighting@1x.jpg");
  background-position: -130px;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/lighting@2x.jpg");
  }

  @media (max-width: $tablet-only-width) {
    background-position: center;
    background-size: 160%;
  }
}

.services svg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;

  padding-left: 29px;
  padding-right: 29px;
  padding-top: 28px;
  padding-bottom: 28px;

  color: $light-text-color;

  background-color: $accent-color;
}

.services h3 {
  @include title-style-reset;

  position: relative;
  z-index: 2;

  width: 160px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $light-text-color;
}
