.social {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 200px;
}

.social li {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(5n) {
    margin-right: 0;
  }
}

.social a {
  @include link-style-reset;

  color: $light-icon-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
