//Color-scheme

$accent-color: #00b2ff;
$error-color: #ff6666;

$basic-background-color: #ffffff;
$dark-background-color: #1b2d37;
$modal-background-color: #000000;

$basic-text-color: #666666;
$light-text-color: #ffffff;
$dark-text-color: #1b2d37;

$light-icon-color: #cdcdcd;
$dark-icon-color: #c4c4c4;

$light-border-color: #ffffff;
$border-color: #ebebeb;
$dark-border-color: #626962;


//Breakpoints-widths

$mobile-only-width: 767px;
$mobile-width: 320px;
$tablet-only-width: 1023px;
$tablet-width: 768px;
$desktop-width: 1024px;
